.navigation-container {
    background-color: #001529;
    transition: all 0.4s ease-in-out;
    height: 1265px;
    overflow-y: scroll;
}

.navigate-list {
    margin-top: 80px;
    color: #fff;
    list-style: none;
    padding-left: 0px;
    height: calc(100% - 80px);
}

.navigation-container::-webkit-scrollbar {
    display: none;
}
